@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  /* Font and typography */
  --ff-primary: "Outfit", sans-serif;

  /* Colors */
  --clr-soft-blue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);
  --clr-very-dark-blue-0: hsl(217, 54%, 11%);
  --clr-very-dark-blue-1: hsl(216, 50%, 16%);
  --clr-very-dark-blue-2: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);

  /* Font size */
  --fs-title: 1.375rem;
  --fs-paragraph: 1.125rem;
}

::before,
::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-very-dark-blue-0);
  font-family: var(--ff-primary);
}

.flex {
  display: flex;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.nft {
  flex-direction: column;
  width: 90vw;
  max-width: 26rem;
  background: var(--clr-very-dark-blue-1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1.5rem;
  padding: 2rem;
}

.section__img {
  position: relative;
}

.nft-img {
  width: 100%;
  border-radius: 0.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(178, 100%, 50%, 0.5);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
}

.overlay:hover {
  opacity: 1;
}

.title {
  width: auto;
  font-weight: 600;
  font-size: var(--fs-title);
  color: var(--clr-white);
  margin: 1.7rem 0;
  cursor: pointer;
}

.title:hover {
  color: var(--clr-cyan);
}

.description {
  font-weight: 300;
  font-size: var(--fs-paragraph);
  color: var(--clr-soft-blue);
  margin-bottom: 1.7rem;
}

.nft-info-container {
  border-bottom: 1px solid var(--clr-very-dark-blue-2);
  padding-bottom: 1.7rem;
}

.nft-info {
  justify-content: space-between;
}

.eth {
  align-items: center;
}

.eth-img {
  font-size: var(--fs-paragraph);
}

.eth-text {
  margin-left: 0.4rem;
  font-weight: 600;
  color: var(--clr-cyan);
  font-size: var(--fs-paragraph);
}

.time {
  align-items: center;
}

.time-img {
  font-size: var(--fs-paragraph);
}

.time-text {
  margin-left: 0.4rem;
  font-weight: 400;
  color: var(--clr-soft-blue);
  font-size: var(--fs-paragraph);
}

.nft-creator {
  margin-top: 1.7rem;
  align-items: center;
}

.creator-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999em;
  border: 1px solid var(--clr-white);
  font-size: var(--fs-paragraph);
}

.creator-text {
  margin-left: 1rem;
  font-weight: 300;
  color: var(--clr-soft-blue);
  font-size: var(--fs-paragraph);
}

.creator-name {
  color: var(--clr-white);
  cursor: pointer;
}

.creator-name:hover {
  color: var(--clr-cyan);
}
