@import "resets";
@import "variables";

body {
  font-family: $primary-font;
  background-color: $color-very-dark-blue-0;
}

.flex {
  display: flex;
}

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.nft {
  flex-direction: column;
  width: 90vw;
  max-width: 26rem;
  background: $color-very-dark-blue-1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1.5rem;
  padding: 2rem;
}

.section__img {
  position: relative;
}

.nft-img {
  width: 100%;
  border-radius: 0.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(178, 100%, 50%, 0.5);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
}

.overlay:hover {
  opacity: 1;
}

.title {
  width: auto;
  font-weight: 600;
  font-size: $font-size-title;
  color: $color-white;
  margin: 1.7rem 0;
  cursor: pointer;
}

.title:hover {
  color: $color-cyan;
}

.description {
  font-weight: 300;
  font-size: $font-size-paragraph;
  color: $color-soft-blue;
  margin-bottom: 1.7rem;
}

.nft-info-container {
  border-bottom: 1px solid $color-very-dark-blue-2;
  padding-bottom: 1.7rem;
}

.nft-info {
  justify-content: space-between;
}

.eth {
  align-items: center;
}

.eth-img {
  font-size: $font-size-paragraph;
}

.eth-text {
  margin-left: 0.4rem;
  font-weight: 600;
  color: $color-cyan;
  font-size: $font-size-paragraph;
}

.time {
  align-items: center;
}

.time-img {
  font-size: $font-size-paragraph;
}

.time-text {
  margin-left: 0.4rem;
  font-weight: 400;
  color: $color-soft-blue;
  font-size: $font-size-paragraph;
}

.nft-creator {
  margin-top: 1.7rem;
  align-items: center;
}

.creator-img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999em;
  border: 1px solid $color-white;
  font-size: $font-size-paragraph;
}

.creator-text {
  margin-left: 1rem;
  font-weight: 300;
  color: $color-soft-blue;
  font-size: $font-size-paragraph;
}

.creator-name {
  color: $color-white;
  cursor: pointer;
}

.creator-name:hover {
  color: $color-cyan;
}
